[Unit]
Description=Amitai Door Monitor Python Server
After=network.target

[Service]
User=amitai
Group=amitai

WorkingDirectory=/home/amitai/door

# "python3 -u" means "unbuffered" so logs show up immediately
ExecStart=/usr/bin/python3 -u app.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
