[Unit]
Description=Door Monitor Python Server
After=network.target

[Service]
User=<user>
Group=<group>

WorkingDirectory=/path/to/Smart-Door

# "python3 -u" means "unbuffered" so logs show up immediately
ExecStart=/usr/bin/python3 -u Server/app.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
